b.ais-Highlight-highlighted {
  background-color: unset;
  color: black;
}

.ais-InfiniteHits-item:hover {
  background-color: var(--accent)
}

button.ais-InfiniteHits-loadMore {
  padding: 0.5rem;
  margin-top: 1rem;
  align-self: center;
  border-radius: var(--radius);
}

button.ais-InfiniteHits-loadMore:focus {
  background-color: var(--accent);
  outline: 1px solid var(--accent);
}

button.ais-InfiniteHits-loadMore:hover:not(:disabled) {
  background-color: var(--accent);
}

button.ais-InfiniteHits-loadMore:disabled {
  color: var(--secondary);
}

li.ais-Hits-item, li.ais-InfiniteHits-item{
  box-shadow: unset;
  padding: unset;
}

.table-header {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

article:focus {
  outline: 1px solid var(--accent);
  background-color: var(--accent);
}