* {
  box-sizing: border-box;
}
  
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--accent);
}

body {
  padding: 0.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

b.ais-Highlight-highlighted {
  background-color: unset;
  color: black;
}

.ais-InfiniteHits-item:hover {
  background-color: var(--accent)
}

li.ais-Hits-item, li.ais-InfiniteHits-item{
  box-shadow: unset;
  padding: unset;
}

.table-header {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

article:focus {
  outline: 1px solid var(--accent);
  background-color: var(--accent);
}